<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id = "circle" class ="com.assignment.Circle"/>
<bean id = "cylinder" class ="com.assignment.Cylinder"/>
<bean id = "triangle" class ="com.assignment.Triangle"/>

<bean id = "drawShape" class ="com.assignment.Drawshapes">
  
  <property name="shape" ref="circle"></property>
</bean>


</beans>


